{% extends 'delivery/base.html' %}

{% block title %}
Груз {{cargo.pk}}
{% endblock %}

{% block body %}
<br>

<div class="container">
    <a href="{% url 'cargo_main' %}" class="btn btn-lg btn-outline-dark">К грузам</a>
    <br><br>
    <h1>Груз {{cargo.pk}}</h1>

    <form method="post" enctype="multipart/form-data" action="{% url 'edit_cargo' cargo.pk %}" class="form text-input">

        <div class="form-error">
            {% for error in tg_file_users_id_form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            {% endfor %}
        </div>

        <table align="center">
            {% for f in form %}
            <tr>
                <td>{{f.label}}</td>
                <td>{{f}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>Ближайшие машины</td>
                <td>{{cargo.get_nearest_cars_info|linebreaks}}</td>
            </tr>>
        </table>
        <br>
        <button type="submit" class="form-control btn-lg btn-outline-success">Изменить</button>
    </form>


</div>

{% endblock %}