{% extends 'delivery/base.html' %}

{% block title %}
Админ панель
{% endblock %}

{% block body %}
<br>

<div class="container">
    <a href="{% url 'delivery_main' %}" class="btn btn-lg btn-outline-dark">Главная страница</a>
    <br><br>

    <p align="left">
        <button class="btn btn-outline-dark" type="button" data-toggle="collapse"
                data-target="#add_cargo"
                aria-expanded="false" aria-controls="restart">Добавить машину
        </button>&nbsp;&nbsp;
        <a class="btn btn-outline-dark" href="/">Выгрузить машины в xlsx </a>
    </p>

    <div class="collapse" id="add_cargo">
        <br>
        <form method="post" enctype="multipart/form-data" action="{% url 'new_car' %}" class="form text-input">

            <div class="form-error">
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endfor %}
            </div>

            {% for f in form %}
            <p>{{f}}</p>
            {% endfor %}

            <button type="submit" class="form-control btn-lg btn-outline-success">Добавить</button>
        </form>
        <br>
    </div>


    <table width="100%" style="border: 1px solid black; border-collapse: collapse; width:100%;" border="1"
           id="sites"
           class="sortable">
        <tr>
            <th onclick="sortTable(0)">ID</th>
            <th>Номер</th>
            <th>Локация</th>
            <th>Грузоподъемность</th>
            <th>&nbsp;</th>

        </tr>

        {% for car in cars %}
        <tr>
            <td><a class="btn btn-outline-primary" href="{{car.get_absolute_url}}">{{car.pk}}</a></td>
            <td>{{car.number}}</td>
            <td>{{car.location}}</td>
            <td>{{car.weight}}</td>
            <td><button type="button" class="btn modalButton"
                        data-name="{% url 'delete_car' car.pk %} {{car.number}}" data-toggle="modal">🗑
                </button></td>
        </tr>

        {% endfor %}
    </table>
    <br><br><br>
</div>

<div class="modal fade" id="myModal" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Подтверждение удаления машины</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn_close_2" data-bs-dismiss="modal">Отменить
                    </button>
                    <a type="button" class="btn btn-danger delete_button" href="">Удалить </a>
                </div>
            </div>
        </div>
    </div>

<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("sites");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      dom = td.getElementsByClassName("domain")[0];
      txtValue = dom.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

<script>
$(document).ready(function(e) {
    $('#myModal').modal({
        backdrop: 'static',
        keyboard: false,
        show: false,
    });

    $(document).on("click", ".modalButton", function() {

        var ClickedButton = $(this).data("name");
        var domain = ClickedButton.split(' ')[1];
        var url = ClickedButton.split(' ')[0];

        $(".modal-body").html("<p>" + "Вы точно хотите удалить машину с номером " + domain + "?" + "</p>");
        $("a.delete_button").attr("href", url)
        $('#myModal').modal('show');
    });

    $(document).on("click", ".btn-close", function() {
        $('#myModal').modal('hide');
    });

    $(document).on("click", ".btn_close_2", function() {
        $('#myModal').modal('hide');
    });

});

</script>

{% endblock %}